body { 
    font-family: arial,sans-serif;
}

/* start of nav-bar */ 

#nav-bar { 
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    font-size: 13px;
}

#left-side-nav, #right-side-nav { 
    display: flex; 
    flex-direction: row; 
}

#three-by-three { 
    height: 30px; 
    width: 30px; 
    display: inline-block;
    vertical-align: middle; 
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px; 
    background-position: -132px -38px; 
    opacity: .55; 
}

#three-by-three:hover { 
    opacity: 1.00; 
}

#blue-circle { 
    background-size: 32px 32px; 
    height: 32px; 
    width: 32px; 
    line-height: 32px; 
    display: block; 
    text-align: center;
    background-color: #1a0dab; 
    color: white;
    border-radius: 50%;
    font-size: 16px;
    text-decoration: none;  
}

#left-side-nav li { 
    list-style-type: none; 
    line-height: 32px; 
    margin-right: 15px; 
}

#right-side-nav li { 
    list-style-type: none; 
    line-height: 32px; 
    margin-right: 15px; 
}

.underline:hover { 
    text-decoration: underline;
}

.underline { 
    text-decoration: none; 
    color: rgba(0,0,0,0.87);
}

/* end of nav-bar */ 
/* start of body content */ 

/* logo */ 

#google-logo-container { 
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding-top: 15vh;
}

/* end of logo */ 
/* search bar */ 

#search-bar-container {
    width: 100%; 
    margin-top: 25px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}


#search-bar {
    display: flex; 
    flex-direction: row; 
    position: relative;
    height: 44px;
    width: 582px;
    margin: 0; 
    border-radius: 24px;
    border: 1px solid #dfe1e5;
}

#search-bar input { 
    width: 500px; 
    margin-left: 41px; 
    font-size: 12px; 
    border: 0;
    outline: none;  
}

#search-bar:hover { 
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#magnifying-glass {
    position: absolute;
    top: 14px;
    left: 8px;
    height: 18px; 
    width: 18px;
    opacity: .55;
}

#voice-icon { 
    position: absolute; 
    top: 10px;
    right: 10px;
    height: 24px; 
    width: 24px; 
    cursor: pointer; 
}

/* end of search bar */ 
/* buttons */ 

#buttons-container {
    margin-top: 15px;
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

button { 
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

button:hover { 
    border: 1px solid #dfe1e5;
    border-radius: 4px;
}

/* end of buttons */ 
/* end of body content */ 

/* start of footer */ 

#footer { 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 6vh; 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center; 
    font-size: 13px; 
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #dadce0;
}

#footer-left { 
    display: flex; 
    flex-direction: row;
    list-style-type: none; 
}

#footer-left li { 
    margin-right: 25px;  
}

#carbon-neutral { 
    display: flex;
    align-items: center;  
    position: absolute; 
    left: 45vw; 
    white-space: nowrap;  
}

#carbon-neutral img { 
    width: auto; 
    height: 12px; 
    align-self: center; 
    margin-right: 4px; 
}

#footer-right { 
    display: flex;
    list-style-type: none;
    margin-left: auto;
    margin-right: 20px;  
}

#footer-right li { 
    margin-right: 25px; 
}

.underline-2:hover { 
    text-decoration: underline;
}

.underline-2 { 
    text-decoration: none; 
    color: rgba(104, 100, 100, 0.87);
}

@media only screen and (max-width: 1000px) {
    #search-bar { 
        width: 58vw;
    } 
    #search-bar input { 
        width: 45vw; 
    }
    #footer { 
        flex-direction: column;
        height: 15vh; 
    }
    #carbon-neutral { 
        position: static; 
        margin: 0;
        margin-top: 10px;  
    }
    #footer-left {
        position: absolute;
        top: 9.5vh;  
        margin: 0;
        margin-top: 5px; 
    }
    #footer-right { 
        position: static;
        margin: 0;  
        margin-top: 5px; 
    }
}


/* end of footer */
